{{ define "main" }}

<article class="flow">

    <h1>{{ .Title }}</h1>

    {{ with .Description }}
        <p>{{ . }}</p>
    {{ end }}

    {{ with .Params.tags }}
        <p>
            {{ i18n "tag_label" }}
            {{ range . }}
                <a href="{{ (printf "/tags/%s/" .) | relLangURL }}">
                    {{ . }}
                </a>
            {{ end }}
        </p>
    {{ end }}

    <hr>

    {{ .Content }}

    {{ partial "bibliography.html" . }}

</article>

{{ end }}
